.about {
  h2 {
    display: inline-block;
    margin-top: 1rem;
    &::after {
      position: absolute;
      display: inline-block;
      top: 0;
      right: -18px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #0f6ae5;
      content: '';
    }
  }

  div.final {
    margin-top: 5em !important;
  }

  code.language-text {
    color: #0f6ae5;
    border: 1.4px solid #0f6ae5;
  }
}
